.cart-page {
  background-color: rgb(235, 246, 255);
  min-height: 60vh;
  /* display: flex;
  justify-content: center; */
  /* border: 2px solid blue; */
}

.cartTESTE {
  border: 10px solid blue;
  min-height: 800px;
    /* display: flex;
  justify-content: center; */
}

.cart-title {
  text-align: center;
}

.cartA-left {
  background-color: blue;
 
}

.cartA-right {
  background-color: green;
}

.cartB-left {
  background-color: pink;
  min-height: 800px;
}

.cartB-right {
  background-color: grey;
}
