.cart-page {
  background-color: rgb(235, 246, 255);
  min-height: 60vh;
  display: flex;
  justify-content: center;
  /* border: 2px solid blue; */
  padding: 60px 5px;
}

.cart-page-container {
  max-width: 1400px;
  background-color: rgb(255, 255, 255);
  
}

.cartTESTE {
  border: 2px solid blue;
  min-height: 800px;
  border-radius: 4px;
  /* display: flex;
  justify-content: center; */
}

.cartA {
  border: 3px solid blueviolet;
}

.cart-title {
  text-align: center;
  /* color: rgb(241, 209, 15); */
  /* font-family: 'Fredoka One'; */
}

.cartA-left {
  border: none;
}

.cartA-right {
  border: 1px solid green;
  max-width: 300px;
  max-height: 340px;
  width: 300px;
  /* background-color: rgb(188, 188, 188); */
  background-color: rgb(255, 251, 251);
 
}

.cartA-left-body,
.cartA-right-body {
  padding: 0px !important;
}

.cartB-left {
  /* background-color: pink; */
}

.cartB-right {
  
  max-width: 300px !important;
}

.cartB-right > h3 {
  text-align: center;
}

.cartA-right-container, .cartB-right-container{
  display: flex;
  justify-content: center;
}
