.sectionC {
  padding: 40px 2%;
  background-color: rgb(235, 246, 255);
  /* background-color: white; */
}

.sectionC h3 {
  text-align: center;
  /* text-transform: uppercase; */
  font-weight: bold;
}

.sectionC p {
 font-size: 0.8rem;
}

.sectionC-CardDeck-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}
.sectionC-CardDeck {
  max-width: 1600px;
  padding-top: 30px;
  justify-content: center;
  display: flex;
  flex-flow: row wrap; 
  align-items: stretch;
  /* border: 2px solid blue; */

}

.sectionC-cards {
  border: none;
  min-width: 350px;
  max-width: 350px;
  display: block;
  /* flex-basis: 33.3%;  */
}

.sectionC-cards a {
  text-decoration: none;
  color: black;
}

.sectionC-cards:hover {
  border: 1px solid black;
  border-radius: 0;
}

/* .sectionC-cards .card:active {
} */
.sectionC-cards-body {
  /* background-color: rgb(188, 188, 188); */
  /* background-color: rgb(235, 246, 255); */
  background-color: white;
}

.sectionC-cards-price {
  font-weight: bold;
}