.user-page {
  background-color: rgb(235, 246, 255);
}

.user-card-container {
  background-color: rgb(235, 246, 255);
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
}

.user-title-container {
  display: flex;
  justify-content: center;
}

.user-title {
  margin: 20px 0px 30px;
}

.user-card {
  margin: 40px 5px;
  width: 800px;
  border: 1px solid rgb(30, 30, 30);
  border-radius: none;
}

.user-status {
  font-size: 1.6rem;
  /* text-transform: uppercase; */
}

.user-instructions {
  font-size: 1.2rem;
  /* padding-top: 10px;
  margin-bottom: 4px; */
}

.user-button-save {
  background-color: rgb(30, 30, 30);
  color: white;
  width: 100%;
  padding-left: 10px;
  margin: 20px 0px;
}

.user-button-delete {
  background-color: white;
  color: rgb(30, 30, 30);
  width: 100%;
  padding-left: 10px;
  margin: 20px 0px;
}

hr {
  margin: 20px 0px;
  border: 0.5px solid rgb(30, 30, 30);
  /* border: 1px solid rgb(241, 209, 15); */
}

/* .user-exitButton-container {
  margin: 0 auto !important;
  flex-direction: row-reverse !important;
  display: flex !important;
  justify-content: end !important;
  max-width: 1200px !important;
  background-color: rgb(235, 246, 255);
  border: none !important;
} */

/* .user-exitButton-wrap {
  display: flex;
  justify-content: end;
  margin: 0 auto !important;
  flex-direction: row-reverse !important;
  padding-bottom: 0px !important;
} */

/* .user-exitButton {
  background-color: rgb(235, 246, 255);
  color: rgb(30, 30, 30);
  border: none;
  font-weight: bold;
  padding-bottom: 0px !important;
} */

/* .user-exitButton,
.user-exitButton:active,
.user-exitButton:focus,
.user-exitButton:hover {
  border: none !important;
  outline: none !important;
  background-color: rgb(235, 246, 255);
  color: rgb(30, 30, 30);
  font-weight: bold;
  padding-bottom: 0px !important;
} */
