.Navigation {
  background-color: rgb(241, 209, 15) !important;
  color: rgb(30, 30, 30) !important;
  /* position: fixed; */
 }


.NavLinks {
  background-color: rgb(241, 209, 15) !important;
  color: rgb(30, 30, 30) !important;
}

.Logo {
  height: 50px;
  width: 50px;
}
