.Navigation {
  background-color: rgb(241, 209, 15) !important;
  color: rgb(30, 30, 30) !important;
  width: 100%;
}

.NavLinks {
  background-color: rgb(241, 209, 15) !important;
  color: rgb(30, 30, 30) !important;
}

.Logo {
  height: 60px;
  width: auto;
}
