.navigation-container {
  background-color: rgb(241, 209, 15);
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.navigation {
  background-color: rgb(241, 209, 15) !important;
  color: rgb(30, 30, 30);
  width: 1600px;
  max-width: 2000px;
  padding: 0 10%;

  /* border-bottom: 2px solid rgb(232, 166, 6); */
  /* border-bottom: 2px solid rgb(30, 30, 30); */
}

.nav-links {
  background-color: rgb(241, 209, 15);
  color: rgb(30, 30, 30);
}

/* .nav-logo-bee {
  height: 0px;
  width: 0px;
} */

.nav-logo-voluntei {
  height: 0px;
  width: 0px;
}

.nav-logo {
  height: 80px;
  width: auto;
}

.navigation-search-box {
  margin-top: 20px;
  width: 200px !important;
  background-color: white;
  border: 1px solid rgb(30, 30, 30);
  border-right: none;
  outline: none !important;
}

.navigation-magnifying {
  margin-top: 20px;
  background-color: white;
  border: 1px solid rgb(30, 30, 30);
  border-left: none;
  height: 47px;
}

.navigation-magnifying:hover {
  background-color: white;
}

.navigation-buttons-icons {
  border: none;
  background-color: rgb(241, 209, 15);
}

.navigation-buttons-icons:hover {
  border: none;
  background-color: rgb(241, 209, 15);
}

.navigation-icons {
  height: 30px;
  width: auto;
}
